.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.logo__picture img {
  min-width: 40px;
  height: 40px;
}
.profil__picture img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 3vw;
}

.header__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: flex-end;

  .nav__loupe {
    width: 30px;
    height: 30px;
    margin: auto;
  }
  .nav__burger span {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
  }
}

nav {
  display: none;
  padding: 15px;
  position: absolute;
  color: white;
}
.nav__menuDeroulant {
  list-style: none;
  display: flex;
  position: relative;
}
.nav__menuDeroulant > ul {
  display: flex;
}
.nav__menuDeroulant li {
  margin-right: 30px;
}
a.menuDeroulant__link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}

.nav__menuDeroulant.active {
  display: block;
  width: 100%;
  transform: translateX(0);
}
a.menuDeroulant__link.active {
  padding: 10px 60px;
  transform: translateX(0);
}
a.menuDeroulant__link.active:hover {
  padding: 10px 80px;
}
nav.active {
  display: block;
  top: 60px;
  right: 0;
  background-color: #1b1d31;
  z-index: 10;
}
