.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 1.5vh;
  .header__logo {
    display: flex;
    gap: 0.8vw;
    align-items: center;
    font-size: large;
  }
}

.logo__picture img {
  min-width: 2.5rem;
  height: 2.5rem;
}
.profil__picture img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-left: 3vw;
}

//CSS nav barre
.header__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
  align-items: flex-end;

  .nav__loupe {
    width: 1.875rem;
    height: 1.875rem;
    color: white;
  }
  .nav__burger span {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 0.675rem;
    position: relative;
  }
}

nav {
  display: none;
  padding: 0.938rem 0 0.938rem 0;
  position: absolute;
  top: 0;
  bottom: 100%;
  transition: all 30s ease-in-out;
}
.nav__menuDeroulant {
  list-style: none;
  display: flex;
  position: relative;
}
.nav__menuDeroulant > ul {
  display: flex;
}
.nav__menuDeroulant li {
  margin-right: 0.938rem;
  padding: 0.313rem;
}
a.menuDeroulant__link {
  text-decoration: none;
  color: white;
  font-size: 0.938rem;
}

.nav__menuDeroulant.active {
  display: block;
  cursor: pointer;
}
a.menuDeroulant__link.active {
  padding: 0.675rem 1.25rem;
}
.menuDeroulant__link:hover {
  padding: 0.675rem 5rem;
  background-color: black;
  font-size: medium;
}

nav.active {
  display: block;
  top: 9vh;
  left: 0;
  bottom: 60vh;
  width: 100%;
  background-color: #1b1d31;
  z-index: 100;
  transform: translateX(0);
}
