* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test {
  color: black;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: black;
  width: 300px;
  height: 50px;
}
.parent_search {
  display: flex;
  align-items: center;
  form {
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 100%;
    label {
      background-color: white;
      justify-content: center;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  input {
    width: 50%;
    border: none;
    font-size: 1.3rem;
    border-radius: 0 0.5rem 0.5rem 0;
    padding-left: 1rem;
    outline: none;
  }
  .img {
    width: 2rem;
    margin-bottom: 0.5rem;
  }
}
.parent {
  align-items: center;
  background-color: white;
  width: 80vw;
}
.parent > div {
  display: flex;
  align-items: center;
  margin: 1vh 1vw;
  border-bottom: #8080806b solid 1px;
}
.parent > div > p {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: black;
}

.teest {
  margin-right: 1%;
}
.card {
  margin-top: 2vw;
  background-color: #87735c;
  width: 13rem;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.card p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
}
.tag {
  background-color: #a0a0a0;
  content: "";
  display: inline-block;
  height: 0.25rem;
  line-height: 1;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  transform: translateY(-50%) rotate(45deg);
  width: 0.25rem;
}

.span {
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.56);
  gap: 1%;
}
.span p {
  height: 1.3rem;
  font-size: 0.6rem;
  overflow: hidden;
  font-family: "poppins", sans-serif;
}
.card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 4%;
  gap: 3px;
}
.white {
  color: black;
}

.card_img {
  width: 100%;
}
.card img {
  height: 294px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card_bottom p {
  /* fonfont-size: 0.7rem;t-size: 68%; */
  font-size: 0.9rem;
  height: 1.3rem;
  overflow: hidden;
}
.show,
.show_deux {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

// .card_open {
//   left: 19%;
//   top: 15%;
//   position: fixed;
//   background-color: #213945;
//   width: 66%;
//   height: 72%;
//   text-align: center;
// }

.card_open_img {
  margin: 5%;
  display: flex;
  text-align: center;
  margin-top: 1rem;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@300&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&family=Poppins&display=swap");

/*       @media (min-width: 800px) {
    .card {
      width: 236px;
      height: 171px;
    }
  } */

@media screen and (min-width: 900px) {
  .card_bottom p {
    font-size: 1rem;
  }
  .span p {
    font-size: 0.8rem;
  }
  .tag {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.56);
  }
}
.tab-genre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 10px;
  padding: 2rem 1rem 1rem 1rem;
}
.genre {
  width: 120px;
  height: 80px;
  background-color: #87735c;
  text-align: center;
  font-weight: 1000;
  font-size: large;
  border-radius: 0.5rem;
}
.taille-icon {
  width: 50px;
}
button:hover {
  background-color: #777a87;
}
