.caroussel {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;

  .caroussel__title {
    font-size: 1rem;
    padding-bottom: 2vh;
  }
  .caroussel__vignette {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.188rem;
    overflow: hidden;
    height: 5%;

    img.caroussel__picture__img {
      //width: 100%;
      border-radius: 8px;
    }
    img.caroussel__picture__img1 {
      width: 100%;
      border-radius: 8px;
    }
  }
}
.caroussel1__picture,
.caroussel2__picture,
.caroussel3__picture {
  position: relative;
  transition: all 0.4s;
}
.caroussel__picture__add {
  position: absolute;
  top: 0.188rem;
  right: 0.188rem;
  transform: translate(50% 50%);

  img {
    width: 20px;
  }
}
.caroussel__vignette {
  position: relative;
  cursor: pointer;
  .vignette__fleche__gauche {
    position: absolute;
    z-index: 10;
    opacity: 0.5;
    left: 2px;
    top: 40%;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
  }
  .vignette__fleche__droite {
    position: absolute;
    z-index: 10;
    opacity: 0.5;
    right: 2px;
    top: 40%;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
  }
  .fleche__droite,
  .fleche__gauche {
    width: 3vh;
  }
}
img.caroussel__picture__img {
  width: 25vw;
  height: 100%;
}
