.caroussel {
  display: flex;
  flex-direction: column;

  .caroussel__title {
    font-size: 1rem;
    padding: 1.25rem 0 1rem 3px;
  }
  .caroussel__vignette {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    overflow: hidden;

    img.caroussel__picture__img {
      min-width: 100px;
      border-radius: 5px;
    }
  }
}
.caroussel__picture {
  position: relative;
}
.caroussel__picture__add {
  position: absolute;
  top: 10px;
  right: 10px;

  img {
    width: 30px;
  }
}
