@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@300&family=Poppins&display=swap%22);

//font-family: "Poppins", sans-serif;

@import url(./reset.scss);

@import url(./header.scss);

@import url(./sectionCaroussel.scss);

@import url(./alaune.scss);

@import url(./footer.scss);

@import url(./search.scss);

body {
  color: white;
  height: 100vh;
  background-image: linear-gradient(
    125deg,
    hsl(234deg 30% 12%) 0%,
    hsl(234deg 29% 14%) 9%,
    hsl(234deg 29% 15%) 18%,
    hsl(234deg 28% 17%) 27%,
    hsl(234deg 28% 19%) 36%,
    hsl(234deg 27% 20%) 45%,
    hsl(234deg 27% 22%) 55%,
    hsl(234deg 27% 23%) 64%,
    hsl(234deg 27% 25%) 73%,
    hsl(234deg 26% 27%) 82%,
    hsl(234deg 26% 28%) 91%,
    hsl(234deg 26% 30%) 100%
  );
  font-family: "poppins", sans-serif;

  background-attachment: fixed;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 861px) {
  .header {
    padding: 1.5vh 3vw;
  }
  .nav__burger span {
    display: none;
  }
  .header__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header__profil {
    order: 3;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: inherit;
    padding: 0;
  }
  .nav__menuDeroulant {
    margin-bottom: 1.5rem;
  }
  .menuDeroulant__link:hover {
    padding: 0;
    background-color: #87735c;
    margin: 0;
  }
  .slider {
    height: 100vh;
  }
  .slides {
    height: 70vh;
  }
  .aLaUne {
    height: 90vh;
  }
  .slide .slide__description {
    font-size: 2.5rem;
  }
  .caroussel .caroussel__title {
    padding: 4vh 0 2vh 2vh;
    font-size: 1.5rem;
  }
  .caroussel1__picture,
  .caroussel2__picture,
  .caroussel3__picture {
    padding-left: 4vw;
  }
}
